mixin rate-button(name, starAmount, disabled=false)
    .rate-button
        each item in [1,2,3,4,5]
            if item == starAmount
                input.rate-button__star(type="radio" name=name value=item checked disabled=disabled)
            else
                input.rate-button__star(type="radio" name=name value=item disabled=disabled)