mixin apartment-info({number, price, currency, largeNumber=false, lux=false})
    .apartment-info
        .apartment-info__number-wrapper
            span.apartment-info__number-symbol №&nbsp;
            if largeNumber
                span.apartment-info__number.apartment-info__number_large=number
            else
                span.apartment-info__number=number
            if lux
                span.apartment-info__lux &nbsp;люкс
        .apartment-info__price-wrapper
            - let priceWithCurrency = price + currency;
            span.apartment-info__price=priceWithCurrency
            span.apartment-info__measure &nbsp;в сутки