//TODO объединить стили для инпутов в миксин

mixin textfield(type, placeholder, name, masked=false)
    if masked
        input.textfield.js-masked(type=type, name=name, placeholder=placeholder)
    else
        input.textfield(type=type, name=name, placeholder=placeholder)