mixin pie-chart(totalAmount, sectors)
  .pie-chart.js-pie-chart(data-amount=totalAmount)
    .pie-chart__chart-wrapper
      svg.pie-chart__chart(width="122" height="122")
        - let gradientIndex = 1
        each item in sectors
          linearGradient(id="gradient-color-" + gradientIndex x1="0%" y1="0%" x2="0%" y2="100%")
            stop(offset="0%" stop-color=item.startGradient)
            stop(offset="100%" stop-color=item.endGradient)
            - gradientIndex += 1
        - let sectorIndex = 1
        each item in sectors
          - let itemClasses = ["pie-chart__circle", "js-pie-chart__circle"]
          circle(class=itemClasses data-amount=item.amount r="58"
            cx="61" cy="61" stroke="url(#gradient-color-" + sectorIndex + ")")
          - sectorIndex += 1
      .pie-chart__votes.js-pie-chart__votes
        .pie-chart__votes-amount.js-pie-chart__votes-amount
        .pie-chart__sign голосов
    ul.pie-chart__list
      each item in sectors
        li.pie-chart__list-item.js-pie-chart__list-item=item.text
          .pie-chart__list-item-point.js-pie-chart__list-item-point
