include ../like-button/like-button

mixin comment({avatar, fullName, lastViewedTime, likeAmount, commentText , liked=false})
    section.comment-box
        .comment-box__user-container
            //img.comment-box__user-avatar(src=require("../../pages/" + avatarPath), alt="avatar")
            img.comment-box__user-avatar(src=require("./images/" + avatar), alt="avatar")
            //img.comment-box__user-avatar(src=require(), alt="avatar")
            //img.comment-box__user-avatar(src=require("./images/comment-avatar-1.jpg"), alt="avatar")
            .comment-box__user-info
                .comment-box__username=fullName
                .comment-box__last-viewed=lastViewedTime
        .comment-box__comment
            .comment-box__comment-like
                +like-button("comment-like", "comment-like", likeAmount, liked)
            .comment-box__comment-text=commentText