mixin icon-text(icon, title, description, bordered=false)
    - let iconTextClasses = ['icon-text']
    if bordered
        - iconTextClasses.push('icon-text_bordered')
    div(class=iconTextClasses)
        .icon-text__icon=icon
        .icon-text__text
            .icon-text__title=title
            .icon-text__description=description